.settings__setting {
  padding: 13px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.settings__setting i {
  margin-right: 10px;
  font-size: 18px;
}
.settings_setting__column:last-child {
  opacity: 0.5;
}
